.header {
    min-height: 500px;
    display: flex;
    justify-content: center;
    background: linear-gradient( to bottom,  rgba(39,103,187,1) 10.4%, #0E2954 87.7% );
}

.container {
    display: flex;
    width: 100%;
    max-width: 630px;
    flex-direction: column;
    margin-top: 80px;
    
}

.container h1 {
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container h3 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container p {
    width: 300px;
    margin-left: auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-container {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.social-container img {
    width: 2rem;
    transition: all 0.3s ease-in-out;
}

.social-container img:hover {
    cursor: pointer;
    transform: scale(1.2);   
}

.skills {
    margin-top: auto;
    margin-bottom: 1rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin-top: 0.5rem;

}

.skills-container img {
    width: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.skills-container img:hover {
    cursor: pointer;
    transform: scale(1.2);   
}

@media (max-width: 768px) {
    .header {
        padding: 0 1rem;
    }

    .container h1 {
        font-size: 1.6rem;
        margin: 0.5rem 0;
    }
    .container p {
        width: 100%;
        margin: 0 0 1rem 0;
    }
}